:root{
  --color-background:hsl(233, 47%, 7%);
  --color-card-purple:hsl(244, 38%, 16%);
  --color-card-purple-image:hsl(244, 38%, 16%,0.5);
  --color-emphasis: hsl(277, 64%, 61%);
  --color-large-letters: hsl(0, 0%, 100%);
  --color-main-paragraph: hsla(0, 0%, 100%, 0.75);
}